<div class="ms-5 p-2 mt-2 d-flex" id="Workspaces">
  <div class="border border-white me-4 border rounded-3">
    <div class="centered text-center py-2 px-2 rounded-3 " 
    style="background: linear-gradient(to bottom, #ff932e 78% ,#ff9837 66%); width:103px;height: auto; box-shadow: 2px 2px 6px rgb(0, 0, 0,0.7);">
    <span class="fw-bolder"style="font-size:62px" >O</span></div>
   </div>
   <div class="d-flex flex-column mb-3">
   <span class="fs-3 fw-bold text-capatalize">Omar Ashref's work spaces </span> 
   <a href="#" class="nav-link fw-bolder d-flex flex-row">
    <i class="bi bi-file-lock2-fill" style="font-size: 26px;"></i>
    <span class="ms-2 fs-4 text-capitalize">private</span>
    </a>
  </div>
  <button class="btn custom-button d-flex flex-row shadow-sm" >
    <i class="bi bi-person-fill-add" style="font-size: 36px;margin-top: -7px;"></i>
    <p class="" style="font-size: 16px;">invite work space members</p> 
  </button>
</div>
<div class="row ms-5">
  <div class="col-lg-11 ps-3">
    <hr class="" style="border:0.907px solid rgb(0, 0, 0);">
  </div>
</div>
    <a class="btn btn-primary ms-5 fs-5" id="anchor-menu" href="#popup-menu" >list card details</a>
<div id="popup-menu" class="overlay">
	<div class="popup">
      <div class="heading-bar">
        <a class="close" href="#anchor-menu">&times;</a>
        <h5 class="my-2 mx-5">This is card template</h5>
      </div>
      <div class="task-form">
        <div class="container">
          <div class="main-content">
            <h4 class="h4">login form </h4>
          </div>
          <div class="menu-sidebar mt-5">
            <div class="sidebar" >
              <h5>Add to card </h5>
              <div class="d-flex sidebar-content"style=" justify-content: space-between;">
                <ul class="" style="list-style: none; ">
                  <li><a href=""><i class="bi bi-person"></i></a></li>
                  <li><a href=""></a><i class="bi bi-tag"></i>                  </li>
                  <li><a href=""><i class="bi bi-card-checklist"></i></a></li>
                  <li><a href=""></a><i class="bi bi-paperclip"></i></li>
                  <li><a href=""></a><i class="bi bi-clock"></i></li>
                  <li><a href=""></a><i class="bi bi-shuffle"></i></li>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>
	</div>
</div>
<div class="mt-4 mx-5">
  <p class="h4 fw-bold">Boards</p>
</div>
<div class="mt-4 mx-5"> 
  <p class="h2 fw-normal text-capatalize col-12">Available backgrounds images for Boards</p>
  <div class="d-flex flex-row row mt-4">
    <div class="card col-md-3 mx-1" style="box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);">
      <div class="card-body">
        <div class="card-title text-light text-center px-2 rounded-3" 
        style="background-color: rgba(0, 0, 0, 0.5); width: fit-content;">
          <p class="" style="color: rgba(255, 255, 255, 0.5); font-size: 16px;">Template</p></div>      
      </div> 
    </div>  
    <div class="card col-md-3 mx-1" style="box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);">
      <div class="card-body">
        <div class="card-title text-light text-center px-2 rounded-3" 
        style="background-color: rgba(0, 0, 0, 0.5); width: fit-content;">
          <p class="" style="color: rgba(255, 255, 255, 0.5); font-size: 16px;">Template</p></div>      
      </div> 
    </div>
    <div class="card col-md-3 mx-1" style="box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);">
      <div class="card-body">
        <div class="card-title text-light text-center px-2 rounded-3" 
        style="background-color: rgba(0, 0, 0, 0.5); width: fit-content;">
          <p class="" style="color: rgba(255, 255, 255, 0.5); font-size: 16px;">Template</p></div>      
      </div> 
    </div>
  </div>
</div>
<script>
  
</script>