<!-- navbar design  -->
<nav class="navbar navbar-expand-lg py-0 text-white" id="main_nav">
    <a class="navbar-brand text-white fs-2 " style="visibility: hidden;" id="nav-link"   >
      <i class="bi bi-grid-3x3-gap-fill"></i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" 
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-elem">
        <ul class="navbar-nav mr-auto fs-5">
          <li class="nav-item active">
            <a class="nav-link" href="#">Workspaces <i class="bi bi-chevron-down"></i>
            </a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Recent <i class="bi bi-chevron-down"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Starred <i class="bi bi-chevron-down"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Templates <i class="bi bi-chevron-down"></i></a>
          </li>
        </ul>
        <button class="btn text-dark btn-info btn-outline-info my-2 my-sm-0 rounded" id="btn-submit" type="submit">Create</button>
        <form class="form" action="" method="get">
            <div class="input-box border border-white">
                <input type="text" placeholder="Search">
                <span class="icon">
                    <i class="bi bi-search" id="search-icon"></i>
                </span>
            </div>
          </form>
          <a class="nav-link ms-5" id="question-circle" href="#"><i class="bi bi-question-circle"></i></a>
    </div>
  </nav>
